<div class="container-fluid mt-5">
  <div class="row">
    <div class="col"></div>
    <div class="col"></div>

    <div class="col text-center text-white">
      <p class="text-white mt-2">Elérhetőségeink:</p>
      <i class="bi bi-geo-alt-fill"></i> 9200 Mosonmagyaróvár, Cserháti Sándor u. 5.<br>
      <i class="bi bi-telephone-fill"></i> +36 (96) 234-574 <br>
      <i class="bi bi-facebook"></i>&nbsp;<a href="https://www.facebook.com/varkertkavezo/
      ">facebook/varkertkavezo/</a><br>
      <i class="bi bi-envelope-fill"></i> info@varkert.eu<br>
      <i class="bi bi-instagram"></i> @varkertkavezocsapata

    </div>
    <div class="col"></div>
    <div class="col text-center text-white">
      <p class="text-white mt-2">Nyitvatartás:</p>
      Hétfő: 7:30-23:00<br>
      Kedd: 7:30-23:00<br>
      Szerda: 7:30-23:00<br>
      Csütörtök: 7:30-23:00<br>
      Péntek: 7:30-01:00<br>
      Szombat: 7:30-02:00<br>
      Vasárnap: 7:30-22:00
    </div>
    <div class="col"></div>
    <div class="col"></div>

  </div>
  <p class="text-center text-white align-bottom">© Várkert kávézó - 2022</p>
</div>
