<nav class="navbar navbar-expand-lg w-100">
  <a class="navbar-brand" href="#">
    <img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.18169-9/1512569_492293797550400_1517595370_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=VJGnOzbEL60AX8UZIIW&_nc_ht=scontent-vie1-1.xx&oh=00_AT-L7NAjgwt-AVpmJ7ZRfUvkZOddfsy9m8QTf3KglbdvkA&oe=62784221" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <a class="navbar-brand text-light" routerLink="nyitooldal" >Várkert kávézó</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon text-light"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-light h4" routerLink="nyitooldal">Nyitóoldal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light h4" routerLink="rolunk">Rólunk</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light h4" routerLink="csapatunk">Csapatunk</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light h4" routerLink="itallap">Itallap</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light h4" routerLink="borlap">Borlap</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light h4" routerLink="galeria">Galéria</a>
      </li>
    </ul>
    <span class="navbar-text text-light h4 align-middle">
      Mosonmagyaróvár legjobb kávézója
    </span>
  </div>
</nav>
