.navbar{
  background-color: rgb(65, 43, 21) !important;
}
.navbar .collapse ul li a:hover {
  color: #aaa !important;
}
.active {
  color: #aaa !important;
}

.borlapLink:hover
{
  cursor:pointer;
}
