<div id="carouselExampleControls" class="carousel slide" data-interval="3000" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active indikator"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="indikator"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="indikator"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/interrior.jpeg" class="d-block w-100" alt="Kávézónk">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="mb-4 masodik">Látogass el kávézónkba!</h3>
        <p class="kisSzoveg masodik">Mosonmagyaróvár egyik legigényesebb kávéháza.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/cakes.jpg" class="d-block w-100" alt="Süteményeink">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="mb-4 masodik">Sütizz kedved szerint!</h3>
        <p class="kisSzoveg masodik">Nálunk megtalálsz minden kedvedre való süteményt!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/cofee.jpeg" class="d-block w-100" alt="Kávéjaink">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="mb-4">Kávézz nálunk!</h3>
        <p class="kisSzoveg">Kísérletezz klasszikus vagy rendhagyó kávéinkkal!</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="kavek mt-5">
  <div class="container-fluid content mt-3">
    <h1 class="text-center mb-4 text-white">Kávé kínálatunk</h1>
    <div class="row">
      <div class="card me-5 mb-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngFor="let kave of kavek.slice(0,5)">
        <img src="{{ kave.imgUrl }}" class="card-img-top" alt="Cappuccino">
        <div class="card-body">
          <h5 class="card-title text-white">{{ kave.name }}</h5>
          <p class="card-text text-white">{{ kave.price }} Ft</p>
        </div>
      </div>
      <div class="card me-5 mb-4 col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <img src="/assets/tovabbiKavek.jpeg" class="card-img-top" alt="Cappuccino">
        <div class="card-body">
          <div class="row">
            <h5 class="card-title text-white">Teljes kávé kínálatunk</h5>
            <a class="btn btn-secondary" routerLink="/kaveink"><i class="bi nyil bi-arrow-right"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="reggelik container-fluid ">
  <h1 class="text-left ms-2 mt-3">Reggelizz nálunk</h1>
  <div class="row">
    <div class="col">
      asd
    </div>
    <div class="col">asd</div>
  </div>
</div>
