<div id="carouselExampleControls" class="carousel slide mainCarouser" data-interval="3000" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active indikator"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="indikator"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="indikator"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/interrior.jpeg" class="d-block w-100" alt="Kávézónk">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="mb-4 masodik">Látogass el kávézónkba!</h3>
        <p class="kisSzoveg masodik">Mosonmagyaróvár egyik legigényesebb kávéháza.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/cakes.jpg" class="d-block w-100" alt="Süteményeink">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="mb-4 masodik">Sütizz kedved szerint!</h3>
        <p class="kisSzoveg masodik">Nálunk megtalálsz minden kedvedre való süteményt!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/cofee.jpeg" class="d-block w-100" alt="Kávéjaink">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="mb-4">Kávézz nálunk!</h3>
        <p class="kisSzoveg">Kísérletezz klasszikus vagy rendhagyó kávéinkkal!</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="kavek mt-5">
  <div class="container-fluid content mt-3">
    <h1 class="text-center mb-4 text-white">Kávé kínálatunk</h1>
    <div class="row">
      <div class="card me-5 mb-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 kaveCard" *ngFor="let kave of kavek.slice(0,5)">
        <img src="{{ kave.imgUrl }}" class="card-img-top" alt="Cappuccino">
        <div class="card-body">
          <h5 class="card-title text-white">{{ kave.name }}</h5>
          <p class="card-text text-white">{{ kave.price }} Ft</p>
        </div>
      </div>
      <div class="card me-5 mb-4 col-lg-3 col-md-4 col-sm-6 col-xs-12 kaveCard">
        <img src="/assets/tovabbiKavek.jpeg" class="card-img-top" alt="Cappuccino">
        <div class="card-body">
          <div class="row">
            <h5 class="card-title text-white">Teljes kávé kínálatunk</h5>
            <a class="btn btn-secondary" routerLink="/kaveink"><i class="bi nyil bi-arrow-right"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="reggelik container-fluid ">
  <div class="row">
    <div class="col">
      <h1 class="text-left ms-5 mt-3 mb-2">Reggelizz nálunk</h1>
      <div id="carouselExampleSlidesOnly" class="carousel slide reggeliCarouser ms-5 mt-2"
        data-bs-ride="carousel">
        <div class="carousel-inner border border-2 border-dark">
          <div class="carousel-item active">
            <img src="../../assets/torony.jpg" class="d-block w-100" alt="Szendvicstorony">
            <div class="carousel-caption d-none d-md-block">
              <h3 class="masodik">Szendvicstorony</h3>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/rantotta.jpg" class="d-block w-100" alt="Rántotta">
            <div class="carousel-caption d-none d-md-block">
              <h3 class="text-white">Rántotta</h3>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/toast.jpg" class="d-block w-100" alt="Sonkás toast tükörtojással">
            <div class="carousel-caption d-none d-md-block">
              <h3 class="masodik">Sonkás toast tükörtojással</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <ul class="list-group list-group-flush shadow-lg p-3 mb-3 rounded felsorolas mt-5">
        <li class="list-group-item reggeliSzoveg list-group-item-light text-dark">Kávézónkban fél nyolctól egészen délig
          különböző reggeliket
          próbálhatsz ki. Menünkön megtalálható sokak által kedvelt szendvicstorony, vagy esetleg bőségtál, de ha egy
          klasszikus rántottát kívánsz meg akkor sem hagyunk cserben.</li>
        <li class="list-group-item reggeliSzoveg list-group-item-dark">Reggelid mellé több tucat hideg vagy meleg
          italunkból választhatsz,
          melyeket elfogyaszthatsz kávézónkban vagy magaddal viheted ha éppen rohanásban vagy. Teljes
          kávékínálatunkért kattints <a routerLink="/kaveink" class="text-primary">ide</a>.</li>
        <li class="list-group-item reggeliSzoveg list-group-item-light text-dark">Ha esetleg a gyümölcslevek híve vagy
          akkor kávézónkban frissen facsart narancslevet
          is találsz, de ha mégsem ezzel kísérnéd reggelid akkor CocaCola termékeink között biztosan találsz valami
          kedvedre valót.</li>
        <li class="list-group-item reggeliSzoveg list-group-item-dark">Ha a fentebbi italok nem győztek meg akkor
          Protein Shake
          turmix-okat is megtalálsz az itallapodon. Ezeket kérheted víz vagy tej alapon, zabbal vagy zab nélkül, jéggel
          vagy anélkül, több ízben
          is kinek mivel szimpatikusabb.</li>
        <li class="list-group-item list-group-item-light"> <a class="btn btn-secondary reggeliGomb"
            routerLink="/reggeli"><span class="me-3">Teljes
              reggeli menü</span> <i class="bi nyil bi-arrow-right"></i></a>
        </li>
      </ul>
      <div class="row">
        <div class="card italcard me-4 ms-3 rounded" style="width: 25rem;">
          <img src="../../assets/colak.jpg" class="card-img-top mt-2" alt="Coca Cola termékeink">
          <div class="card-body">
            <h5 class="card-title">Coca Cola üdítőink</h5>
          </div>
        </div>
        <div class="card italcard rounded" style="width: 25rem;">
          <img src="../../assets/shake.jpg" class="mt-2 card-img-top" alt="Protein Shake">
          <div class="card-body">
            <h5 class="card-title">Protein shake</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="este container-fluid">
  <h1 class="text-center esteCim text-white mb-3">Töltsd nálunk az estéd!</h1>
  <div class="row sor mb-5">
    <div class="col">
      <div class="card estiCard bg-dark text-white border border-dark border-2 rounded">
        <h2 class="text-center card-title">Próbáld ki koktéljainkat</h2>
        <img src="../../assets/koktelok.jpg" class="card-img-top rounded koktelImg " alt="Koktéljaink">
        <div class="card-body">
          <p class="card-text">Kávézónkban számos koktél szerepel az itallapon. Ezek közül többnek is
            alkoholos és alkoholmentes variációja is van. Ha ezek nem szimpatikusak még mindig elérhetőek a
            borkoktéljaink.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card estiCard bg-dark text-white border border-dark border-2 rounded">
        <h2 class="text-center card-title">Borkínálatunkról</h2>
        <img src="../../assets/borok.jpg" class="card-img-top rounded koktelImg " alt="Borkínálatunk">
        <div class="card-body">
          <p class="card-text">Mi a Várkertben nagyon szeretjük a jó borokat. Ezért is tartunk több mint 50 féle jó
            magyar bort és pezsgőt a borlapunkon az ország minden
            borvidékéről Tokajtól Etyeken át Villányig a nagy nevektől kezdve a néhány száz palackot készítő aprócska
            kézműves pincékig.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card estiCard bg-dark text-white border border-dark border-2 rounded">
        <h2 class="text-center card-title">7 féle csapolt sörünk</h2>
        <img src="../../assets/sor.jpg" class="card-img-top rounded koktelImg" alt="Söreink">
        <div class="card-body">
          <p class="card-text">Nemrégiben a már meglévő 4 sörcsdapunk mellé további 3-at telepítettünk. Így már
            összesen 7 féle csapolt sör szerepel kínálatunkban, azért hogy mindenki megtalálja kedvencét. Ha ez nem
            sikerülne, még mindig rendelkezésre állnak az üveges söreink.</p>
        </div>
      </div>
    </div>
  </div>
</div>
