.carousel.slide {
  margin-top: 9vh !important;
  margin-left: 10vw;
  margin-right: 10vw;

}

.nyil {
  font-size: large;
}

.indikator:hover {
  cursor: default !important;
}

.kisSzoveg {
  font-size: 2vh;
}

.masodik {
  color: black;
}

.content {
  width: 80%;
}

.kavek {
  background-image: url(../../assets/kaveBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 90% !important;
  margin: auto;
}

.card-title {
  text-align: center;
  font-size: 30px;
}

.card {
  background-color: #362514;
  width: 24rem;
  margin: 0 auto !important;
  margin-bottom: 5% !important;
  border: 3px solid #5f3f1f;
}

.card:hover {
  background-color: #5f3f1f;
  border: 2px solid #362514;

}

.card:hover .card-title {
  font-weight: bold;
}

.card:hover .card-text {
  font-weight: bold;
}

.card-img-top {
  margin-top: 4%;
  height: 357px;
}

.card-text {
  font-size: 20px;
  margin-left: 4%;
}

.reggelik {
  width: 90% !important;
}

@media only screen and (max-width: 768px) {
  [class*="slide"] {
    width: 100%;
    margin-left: 0vw !important;
    margin-right: 0vw !important;

  }
}

@media only screen and (max-width: 990px) {
  [class*="slide"] {
    width: 90%;
    margin-left: 5vw !important;
    margin-right: 5vw !important;

  }
}

@media only screen and (max-width: 990px) {
  [class*="card"] {
    width: 90%;
    margin-left: 5vw !important;
    margin-right: 5vw !important;

  }
}
