<div class="container-fluid">
  <h2 class="elso ms-5">Várkert kávézó külső</h2>
  <p-carousel [value]="kulso" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
  <ng-template let-product pTemplate="item">
      <div class="product-item">
          <div class="product-item-content">
              <div class="mb-3">
                  <img src="../../assets/kulso/{{ product }}" [alt]="product" class="product-image rounded"/>
              </div>
          </div>
      </div>
  </ng-template>
</p-carousel>


  <h2 class="ms-5">Várkert kávéző belső</h2>
<p-carousel [value]="belso" styleClass="custom-carousel" [numVisible]="3" [responsiveOptions]="responsiveOptions">
  <ng-template let-product pTemplate="item">
      <div class="product-item">
          <div class="product-item-content">
              <div class="mb-3">
                  <img src="../../assets/belso/{{ product }}" [alt]="product" class="product-image rounded"/>
              </div>
          </div>
      </div>
  </ng-template>
</p-carousel>


  <h2 class="ms-5">Ételek, Italok</h2>
<p-carousel [value]="etelital" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
  <ng-template let-product pTemplate="item">
      <div class="product-item">
          <div class="product-item-content">
              <div class="mb-3">
                  <img src="../../assets/etelekItalok/{{product}}" [alt]="product" class="product-image rounded"/>
              </div>
          </div>
      </div>
  </ng-template>
</p-carousel>
