<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 ">
      <div class="tovabbi">
        <div class="card mb-3 mt-5 mx-auto">
          <a class="card-img-top"
            href="https://www.tripadvisor.com/Restaurant_Review-g1028115-d4334804-Reviews-Varkert_Cafe-Mosonmagyarovar_Gyor_Moson_Sopron_County_Central_Transdanubia.html">
            <img src="../../assets/trip.png" class="card-img-top" alt="Tripadvisor">
          </a>
          <div class="card-body">
            <p class="card-text">Értékeld a Várkertet a <a
                href="https://www.tripadvisor.com/Restaurant_Review-g1028115-d4334804-Reviews-Varkert_Cafe-Mosonmagyarovar_Gyor_Moson_Sopron_County_Central_Transdanubia.html">Tripadvisor</a>
              oldalán!</p>
          </div>
        </div>
        <div class="card mx-auto">
          <a class="card-img-top" href="https://kutyabarat.hu/kavezok/376/varkert_kavezo">
            <img src="../../assets/kutyabarat_.png" class="card-img-top" alt="KutyaBarát kávézó">

          </a>
          <div class="card-body">
            <p class="card-text">Hozd magaddal kiskedvenced!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <h5 class="mt-2 text-center mb-4">Nézz be hozzánk!</h5>
      <div class="map">
        <iframe class="google-map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1337.9971283562575!2d17.27591018734396!3d47.87843843456858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476c77e2fe4d78ad%3A0x61bd539b38427572!2zVsOhcmtlcnQgS8OhdsOpesOz!5e0!3m2!1shu!2shu!4v1650214886893!5m2!1shu!2shu"
          allowfullscreen="" loading="lazy"></iframe>

      </div>
    </div>
    <div class="col-lg-5">
      <h5 class="mt-2 text-center">Elérhetőségeink:</h5>
      <div class="text-center">
        <i class="bi bi-geo-alt-fill"></i> 9200 Mosonmagyaróvár, Cserháti Sándor u. 5.<br>
        <i class="bi bi-telephone-fill"></i> +36 (96) 234-574 <br>
        <i class="bi bi-facebook"></i>&nbsp;<a href="https://www.facebook.com/varkertkavezo/
        ">facebook/varkertkavezo/</a><br>
        <i class="bi bi-envelope-fill"></i> info@varkert.eu<br>
        <i class="bi bi-instagram"></i> @varkertkavezocsapata
      </div>
      <h5 class="mt-2 text-center">Nyitvatartásunk:</h5>
      <table class="table table-striped table-secondary table-hover mx-auto mt-4 border-light">
        <tbody>
          <tr>
            <td class="text-center">Hétfő</td>
            <td class="text-center">7:30-23:00</td>
          </tr>
          <tr>
            <td class="text-center">Kedd</td>
            <td class="text-center">7:30-23:00</td>
          </tr>
          <tr>
            <td class="text-center">Szerda</td>
            <td class="text-center">7:30-23:00</td>
          </tr>
          <tr>
            <td class="text-center">Csütörtök</td>
            <td class="text-center">7:30-23:00</td>
          </tr>
          <tr>
            <td class="text-center">Péntek</td>
            <td class="text-center">7:30-01:00</td>
          </tr>
          <tr>
            <td class="text-center">Szombat</td>
            <td class="text-center">7:30-02:00</td>
          </tr>
          <tr>
            <td class="text-center">Vasárnap</td>
            <td class="text-center">8:30-22:00</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
