.google-map {
  height: 53vh;
  width: 30vw;
}

.table {
  width: 70%;
}

.card-img-top {
  height: 16vh !important;
  width: 16vh !important;
  margin: auto !important;
}

.card {
  width: 20vh !important;
  border: 2px solid white;
}

.card:hover {
  background-color: lightgray;
}

.container-fluid {
  margin: auto !important;
  margin-top: 8% !important;
  margin-bottom: 6% !important;
}

@media only screen and (max-width: 991px) {
  [class*="map"] {
    width: 60vw !important;
    margin: auto !important;
  }

  [class*="container-fluid"] {
    margin-bottom: 2% !important;
    margin-top: 2% !important;

  }
}
table{
  border: 2px solid white;
}
.row{
  background-color: #bd8346;
  margin: 5px;
  padding-top: 2%;
  padding-bottom: 2%;

}
@media only screen and (max-width: 550px) {
  [class*="map"] {
    width: 90vw !important;
  }

  [class*="fb"] {
    margin-left: 13%;
  }
}
